{
  "s3": {
    "Statement": [
      {
        "Sid": "DefaultBindAccessBuckets-{{.InstanceID}}",
        "Effect": "Allow",
        "NotAction": [          
          "s3:CreateBucket",
          "s3:DeleteBucket",
          "s3:PutBucketPolicy",
          "s3:DeleteBucketPolicy"
        ],
        "Resource": {{.BucketResources}}
      },
      {
        "Sid": "DefaultBindAccessObjects-{{.InstanceID}}",
        "Effect": "Allow",
        "Action": [
          "s3:*Object*",
          "s3:ListMultipartUploadParts",
          "s3:AbortMultipartUpload"
        ],
        "Resource": {{.ObjectResources}}        
      }
    ]
  }
}