{
  "s3": {
    "Statement": [
      {
        "Sid": "DefaultBindAccessBuckets-{{.InstanceID}}",
        "Effect": "Allow",
        "Action": [          
          "s3:ListBucketVersions",
          "s3:GetBucketVersioning",
          "s3:PutBucketVersioning",
          "s3:GetBucketLocation",
          "s3:ListAllMyBuckets",
          "s3:ListBucket"
        ],
        "Resource": {{.BucketResources}}
      },
      {
        "Sid": "DefaultBindAccessObjects-{{.InstanceID}}",
        "Effect": "Allow",
        "Action": [
          "s3:*Object*"
        ],
        "Resource": {{.ObjectResources}}        
      }
    ]
  }
}